

#AccountsReceivableForm {
  position: absolute;
  right: 600px;
  top: 250px;
}
#AccountsPayableForm {
  position: absolute;
  left: 600px;
  top: 250px;
}
#ProfitLossForm {
  position: relative;
}


#TransactionsTable {
  position: relative;
}
#ShipmentsTable {
  position: relative;
}
#PurchasesTable {
  position: relative;
}
#TrucksTable {
  position: relative;
}
