body{

	background: url(Pictures/Gradient-blue.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	background-size:cover;
	}

.Login {
	margin: auto;
	position: absolute;
	width: 660px;
	height:500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #F8f8f7;
	border-radius: 8px;
	box-shadow: 0px 4px 4px
	rgba(0, 0, 0, 0.25);
	
	}

.logo {
	text-align:center;
	margin:12px 0 12px 0;
	weidth: 222px;
	height: 174px;	
	}
	
.Form {
	text-align: center;
}