#banner {
	position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 200px;
	background-color: #32508C;
}

#logo {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 295px;
	height: 184px;
}

.Div {
	position:relative;
	margin: auto;
	background-color: #0D407A;
	width: 100%;
	min-height: 50px;
	padding: 2px;
	/*overflow: hidden;*/
}

.Div a {
	float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	max-width: 150px;
}

.Div a:hover {
  background-color: #ddd;
  color: black;
}


body {
  background: url(Pictures/Gradient-blue.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	background-size:cover;
}

#form {
	position:relative;
	margin: auto;
	width: 40%;
	text-align: center;
	background-color: #F8f8f7;
	border-radius: 8px;
	box-shadow: 0px 4px 4px
	rgba(0, 0, 0, 0.25);
	}


.FormDiv {
	padding-top: 10px;
}

.FormDivPar {
	padding: 5px;
}
